@model IEnumerable<CBCenter.Models.BookCalculation>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:  #095f59;">
        <h3 class="panel-title" style="color:white;font:bold">Order Entry</h3>
    </div>
    <div id="OrderDetailsPanel">
        @{Html.RenderPartial("UpdateOrderDetails", Model); }
    </div>

</div>

<script>
    $(function () {
        //Remove the dummy row if data present.
        if ($("#tblOrderDetails tr").length > 2) {
            $("#tblOrderDetails tr:eq(1)").remove();
        } else {
            var row = $("#tblOrderDetails tr:last-child");
            row.find(".Edit").hide();
            row.find(".Delete").hide();
            row.find("span").html('&nbsp;');
        }
    });
    //Edit event handler.
    var bookTrnasactionId = 0;
    $("body").on("click", "#tblOrderDetails .Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                bookTrnasactionId = $('').val();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });

    //Cancel event handler.
    $("body").on("click", "#tblOrderDetails .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Delete").show();
        row.find(".Update").hide();
        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#tblOrderDetails .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Delete").show();
        row.find(".Cancel").hide();
        $(this).hide();

        var order = {};
        order.BookTransactionId = row.find(".BookTransactionId").val();
        order.Quantity = row.find(".quantity").find("span").html();
        order.Discount = row.find(".discount").find("span").html();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateOrder", "Order")",
            data: '{updateOrder:' + JSON.stringify(order) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                console.log(data);
                if (data["success"] == "success") {
                    $('#OrderDetailsPanel').html('');
                    var updateOrderUrl = "@Url.Action("OrderDetails", "Order")" + "?transactionId=" + data.TransactionId;
                    $('#OrderDetailsPanel').load(updateOrderUrl)
                }
                else {
                    alert("Update Error Unknown");
                }

            }
        });
    });

    //Delete event handler.
    $("body").on("click", "#tblOrderDetails .Delete", function () {
        if (confirm("Do you want to delete this Book ?")) {
            var row = $(this).closest("tr");
            var bookTransactionId = row.find(".BookTransactionId").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteTransactionBook", "Order")",
                data: '{bookTransactionId: ' + bookTransactionId + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data["success"] == "success") {
                    $('#OrderDetailsPanel').html('');
                    var updateOrderUrl = "@Url.Action("OrderDetails", "Order")" + "?transactionId=" + data.TransactionId;
                    $('#OrderDetailsPanel').load(updateOrderUrl)
                }
                else {
                    alert("Update Error Unknown");
                }

                }
            });
        }
    });
</script>