<div class="col-md-12">
    <div class="row pull-right">
        MOB:-9430074984
    </div>
    <div class="row">
        <h2>CHILDREN BOOK CENTER</h2>
        <h3>GANDHI CHOWK, ARERAJ, EAST CHAMPARAN-845411</h3>
    </div>
</div>
